<div class="container-body" >
  <h1 style="color: aliceblue;">Casio</h1><br>
  <mat-form-field class="example-form-field">
    <mat-label>Primera cifra:</mat-label>
    <input matInput type="number" [(ngModel)]="a">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Segunda cifra:</mat-label>
    <input matInput type="number" [(ngModel)]="b">
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="sumar">Sumar</mat-slide-toggle><br><br>
  <mat-slide-toggle [(ngModel)]="restar">Restar</mat-slide-toggle><br><br>
  <mat-slide-toggle [(ngModel)]="multiplicar">Multiplicar</mat-slide-toggle><br><br>
  <mat-slide-toggle [(ngModel)]="dividir">Dividir</mat-slide-toggle><br><br>
  <button mat-button color="accent" type="button" (click)="enviar()">Resultado</button>
  <br>

  <div>
    <p style="color: aliceblue; font-size: x-large;">{{resultado}}</p>
  </div>
</div>
